*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__email {
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
}

.header__email-link {
  color: #4169E1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header__email-link:hover {
  text-decoration: underline;
}

.header__btn {
  color: #fff;
  background: #F07427;
  padding: 15px 30px;
  border: 1px solid #F07427;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header__btn:hover {
  background: #fff;
  color: #F07427;
}

.top-content {
  padding: 70px 0;
  font-weight: 700;
  background: url(../img/1.jpg) center no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.top-content:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}

.top-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.top-content__title {
  color: #F07427;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 30px;
}

.top-content__text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.top-content__text span {
  display: block;
  color: #ff0000;
  font-size: 28px;
}

.top-content__link {
  width: 300px;
  margin: 0 auto;
  color: #fff;
  background: #F07427;
  padding: 15px 30px;
  border: 1px solid #F07427;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.top-content__link:hover {
  background: transparent;
  color: #F07427;
}

.step {
  padding: 40px 0;
}

.step__title {
  font-size: 24px;
  color: #011382;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.step__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.step__block-num {
  font-size: 30px;
  background: #011382;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}

.step__block-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 25px;
}

.step__block-text {
  padding: 0 15px;
  font-size: 14px;
}

.step__link {
  display: block;
  text-align: center;
  width: 255px;
  margin: 40px auto 0;
  color: #fff;
  background: #F07427;
  padding: 15px 30px;
  border: 1px solid #F07427;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.step__link:hover {
  background: transparent;
  color: #F07427;
}

.info {
  padding: 30px 0;
}

.info__title {
  color: #011382;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.info__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info__list {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.coment {
  padding: 30px 0;
}

.coment__title {
  color: #011382;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.coment__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coment__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.coment__block-title {
  margin-bottom: 15px;
}

.coment__block-text {
  font-size: 14px;
  width: 200px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.form__input {
  padding: 15px;
  width: 400px;
  margin-bottom: 20px;
}

.form__btn {
  padding: 15px 25px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.form__btn:hover {
  color: #36444A;
  background: #fff;
}

.footer {
  background: #36444A;
  padding-top: 50px;
}

.footer__copy {
  color: #fff;
}

@media (max-width: 900px) {
  .step__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .step__block-text {
    max-width: 300px;
  }

  .step__block {
    margin-bottom: 30px;
  }

  .coment__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .coment__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .coment__block-text {
    max-width: 320px;
  }
}

@media (max-width: 500px) {
  .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__email {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .form__input {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .top-content__title {
    font-size: 36px;
    line-height: 40px;
  }

  .top-content__text {
    font-size: 21px;
  }

  .top-content__link {
    max-width: 250px;
    padding: 15px;
  }
}